<div class="d-grid gap-2 mb-4">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addPostModal">+ New
        Post</button>

</div>
<div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="addPostModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h3 class="modal-title">Adding New Post</h3>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form id="add-post">
                    <div class="mb-3">
                        <label for="post_name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="post_name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="post_description">Post Description</label>
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="post_description"></textarea>
                    </div>
                    <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>