<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Card Generator</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="./css/cardStyle.css" />
    <link rel="stylesheet" href="./css/style.css">
    {{!-- Header scripts --}}
    <script src="https://kit.fontawesome.com/61fc9f6745.js" crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="card"></div>
      <button id="btn">Generate</button>
    </div>
    <!-- Script -->
    <script src="./js/getCard.js"></script>
  </body>
</html>
