<div class="container-lg p-5">

      <div class="row">
            <div class="col-4">
                  <h2>{{username}}'s Dashboard</h2>
                  <p>User ID: {{id}} </p>
            </div>
            <div class="col-8">
                  {{> addpostmodal}}
                  {{>post-card}}
            </div>
      </div>

</div>
<script src="./js/post.js"></script>