
<div id="card-dex">

</div>


<div id="poke-search-form">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="pokemon-search-value" placeholder="Pokemon name start with"
            aria-label="pokemons" aria-describedby="search-user">
        <button class="btn btn-outline-secondary" type="button" id="pokemon-search-btn">Search</button>
    </div>
</div>


<div id="result">
    <h4 class="result-found"></h4>
    <div id="display"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<script>
   


    (async () => {
        const allPoke = await fetch('/api/pokemons').then(data => data.json());
    
   

       const showme = async (e)=>{
        e.preventDefault()
        console.log(e.target.value)
        let htmlTemplate ="<div class='row'>"
        const filter = await allPoke.filter(poke=>poke.name.startsWith(e.target.value)).map((poke,index)=>{
            htmlTemplate += "<div class='col-md-4 p-2'>" + buildMyCard(poke,index) +"</div>";
        })
        htmlTemplate += "</div>"
        document.querySelector('#result .result-found').textContent = `${filter.length} result(s) found`;
        document.querySelector('#result #display').innerHTML = await htmlTemplate

         const el = document.querySelector('#display .row');
        const sortable = new Sortable.create(el,{handle:'.handle',animation:150});
       }

       

         document.querySelector('#pokemon-search-value').addEventListener('change', showme);
        document.querySelector('#poke-search-form').addEventListener('submit', showme)
    })()



</script>