<h2>Hi Hai</h2>

<form id="poke-search-form">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="pokemon-search-value" placeholder="pokemon name"
            aria-label="pokemons" aria-describedby="search-user">
        <button class="btn btn-outline-secondary" type="button" id="pokemon-search-btn">Search</button>
    </div>
</form>


<div id="result"></div>
<script>

    (async () => {
        const allPoke = await fetch('/api/pokemons').then(data => data.json());

       

       

         document.querySelector('#pokemon-search-value').addEventListener('change', showme);
        document.querySelector('#pokemon-search-btn').addEventListener('click', showme)
    })()



</script>